[submodule "lib/pymad"]
	path = lib/pymad
	url = ./lib/pymad
[submodule "models"]
	path = models
	url = ./models
[submodule "lib/requests"]
	path = lib/requests
	url = ./lib/requests
[submodule "lib/pydicti"]
	path = lib/pydicti
	url = ./lib/pydicti
